* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.life-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.life-container img {
    width: 10%;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0.3;
}

.card {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    padding: 2rem;
    text-align: center;
    width: 400px;
    height: auto;
}

.card img {
    width: 96px;
    height: 96px;
    
}

.card h2 {
    text-align: center;
    font-size: 36px;
    color: white;
    padding: 40px;
}

.container {
    padding: 1rem;
    text-align: center;
}

.container input {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    color: white;
    border: 1px solid #ef5350;
    outline: 0;
    background: transparent;
    font-size: 16px;
}

.container button {
    padding: 1rem;
    width: 25%;
	color: white;
	border: 1px solid #ef5350;
    outline: none;
	background: transparent;
	cursor: pointer;
	align-content: center;
	transition: 0.3s ease;
}

button:hover {
    background-color: rgb(129, 31, 43);
}